---
const platform = "github"
const username = "knutRothe"
---

<footer>
    <p>Learn more about my projects on <a target="_blank" href={"https://${platform}.com/${username}"}>{platform}</a>!</p>
    <p>See what i am thinking on <a href="https://twitter.com/KnutRed" target="_blank">Twitter</a>!</p>
</footer>